<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Pablo Cela</title>
  <link rel="stylesheet" href="css/styles.css" />
  <script src="js/app.js"></script>
  <link rel="shortcut icon" href="ico/favicon.png" type="image/x-icon" />
</head>

<body spellcheck="false">
  <div id="content">
    <img src="img/title.png" alt="title" id="img-title">
    <div class="main-content">
      <p id="skip-animation">[esc]: skip animation.</p>
      <pre id="summary-text"></pre>
    </div>
  </div>
  <div id="footer">
    <object data="css/resume.svg" width="25" height="25"> </object>
    <a href="celapablo.pdf" download>Resume</a>
    <object data="css/github.svg" width="25" height="25"> </object>
    <a href="https://github.com/CelaPablo" target="_blank">GitHub</a>
    <object data="css/linkedin.svg" width="25" height="25"> </object>
    <a href="https://www.linkedin.com/in/pablo-cela-4a2219167/" target="_blank">LinkedIn</a>
  </div>
</body>

</html>