<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pablo Cela</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/app.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png" />
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon" />
  </head>
  <body spellcheck="false">
    <div id="content">
      <img src="img/title.png" alt="title" id="img-title">
      <div class="main-content">
        <p id="skip-animation">[esc]: skip animation.</p>
        <pre id="summary-text"></pre>
      </div>
    </div>
    <div id="footer">
      <span style="float:right">
          <a href="celapablo.pdf" download>Resume</a>
          <a href="https://github.com/CelaPablo" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/pablo-cela-4a2219167/" target="_blank">LinkedIn</a>
      </span>
    </div>
  </body>
</html>
